@font-face{
  font-family: myFirstFont;
  src:url('../font/Sansation_Light.ttf')
}
@font-face{
  font-family: myTwoFont;
  src:url('../font/Sansation_Regular.ttf')
}
h1 {
  font-family: myFirstFont!important;
  font-size: 26px !important;
}
h2{
  font-family: myFirstFont !important;
  font-size:20px !important;
}
h3{
  font-family: myTwoFont !important;
  font-size: 16px !important;
}
P{
  font-size: 16px !important;
}
button{
  font-family: myFirstFont !important;
  font-size: 13px !important;
}
div.head{
    div.container{ 
      ul{ 
        li{
          a{
            text-decoration: none;
            color: #516272;
          }
          button{
            background-color: #ff7245;
          }
        }
      }
    }
}
  // end head
  div.banner{
    background-color: #ffffff;
    // background-image: linear-gradient(#ffffff, #eeeeee);
    h1{
      color: #8d8d8d;
    }
    img{
        width:99%;
        z-index: 0;
    }
  }
  // end banner
div.Our{
    background-color: #f5f5f5;
    div.Our1{
      h1.Ourleft{
          text-align: center;
          color: #000000;
      }
      h2.Ourright{
          background-color: #00b6e8;
          color: #fdfffe;
      }
    }
    div.Our2{
      div.Our2-1{
        h1{
          text-align: center;
          color: #000000;
        }
        h2{
          text-align: center;
          color: #000000;
        }
      }
      div.Our2-2{
        img{
          width: 100%;
        }
        ul{
          list-style: none;
          li{
            width: auto;
            font-size: 15px;
            padding: 2%;
            margin-top: 5%;
            &.active{
              background-color: #00b6e8;
              color: #ecf5fa;
              transition: 1.5s;
            }
            &:hover{
              background-color: #00b6e8;
              color: #ecf5fa;
              cursor: pointer;
            }
          }
        }
      }
    }
}
// ---------
div.address{
    text-align: center;
    padding: 2%;
  img{
    width: 80px;
    height: 80px;
  }
}
// end address
  div.profile{
      max-width: 100%;
      max-height: 500px;
      position: relative;
      background-image: url('../image/background.jpg');
      background-size: 100% 100%;
      // div.profile1{
      //   div.autoplay{
      //     div{
      //       padding: 110px;
      //     }
      //   }
      // }
      div.slider{
        padding: 110px;
      }
      a{
        img{
          position: absolute;
          bottom: 120px;
          right: 90px;
          width: 40px;
          height: 40px;
        }
      }
    }
  // end profile
  div.ready{
    position: relative;
    width: 100%;
    background-color: #333c43;
    padding: 5%;
    div.ready1{
      color: #ecf5fa;
      div.button{
        text-align: center;
      }
      button{
        margin-top: 10%;
        background-color: #00b6e8;
      }
    }
  }
// ------
  form{
    div{
      label{
        color: red;
      }
    }
  }


  // Small devices (landscape phones, 576px and up)
@media (max-width: 576px) { 
  div.banner{
    background-color: #ffffff;
    h1{ 
      padding-top: 50px;
    }
    img{
        width:99%;
        z-index: 0;
    }
  }
  // end banner
  div.Our{
      background-color: #f5f5f5;
      div.Our1{
        h1.Ourleft{
          margin-top: 30px;
        }
      }
  }
  // end our
  div.profile{
    position: relative;
    div.slider{
      padding:  100px 50px;
      text-align: center;
    }
    a{
      img{
        position: absolute;
        right: 30px;
      }
    }
  }
  // end profile
}
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  div.head{
    height: 600px;
  }   
  // end head
  div.banner{
    h1{
      padding-top: 200px;
    }
  }
  // end banner
  div.Our{
    background-color: #f5f5f5;
    div.Our1{
      height: 300px;
        h1.Ourleft{
            height: 300px;
            padding-top: 100px;
        }
        h2.Ourright{
            height: 300px;
            padding: 100px 0 0 100px;
        }
    }
  }
  // ---------
  

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 
  div.head{
    height: 600px;
  }   
  // end head
  div.banner{
    h1{
      padding-top: 200px;
    }
  }
  // end banner
  div.Our{
    background-color: #f5f5f5;
    div.Our1{
      height: 300px;
        h1.Ourleft{
            height: 300px;
            padding-top: 100px;
        }
        h2.Ourright{
            height: 300px;
            padding: 100px 0 0 100px;
        }
    }
    div.Our2{
      height: 550px;
      div.Our2-2{
        img{
         height: 480px;
        }
        ul{
          height: 480px;
        }
      }
    }
  }
  // ---------
  div.address{
    height: 350px;
  }
  // end address
  div.profile{
    height: 600px;
  }
  // end profile
  div.ready{
    height: 250px;
  }
 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
  div.head{
    height: 750px;
  }   
  // end head
  div.banner{
    h1{
      padding-top: 250px;
    }
  }
  // end banner
  div.Our{
    background-color: #f5f5f5;
    div.Our1{
      height: 350px;
        h1.Ourleft{
            height: 350px;
            padding-top: 120px;
        }
        h2.Ourright{
            height: 350px;
            padding: 120px 0 0 100px;
        }
    }
    div.Our2{
      height: 550px;
      div.Our2-2{
        img{
         height: 480px;
        }
        ul{
          height: 480px;
        }
      }
    }
  }
  // ---------
  div.address{
    height: 350px;
  }
  // end address
  div.profile{
    height: 600px;
  }
  // end profile
  div.ready{
    height: 250px;
  }
}
// ----------------------------------------